body {
	background-color: black;
	color: white;
}

.App {
	padding: 1em;
	margin: 1em;

	background-color: darkslategrey;
	border: hidden;
	border-radius: 5px;
}

.galleryItem {
	width: 100px;
	margin: 50px;
}

.galleryItem img {
	width: 100%;
	margin: auto;
}