body {
	background-color: black;
	color: white;
}

a {
	color: lightcyan;
}

a:visited {
	color: pink
}

.App {
	padding: 1em;
	margin: 1em;

	background-color: darkslategrey;
	border: hidden;
	border-radius: 5px;
}

.galleryItem {
	width: 150px;
	margin: 10px;
	padding: 10px;

	display: inline-block;
	border: 1px solid white;
}

.galleryItem img {
	width: 100px;
	margin: auto;
}